* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #96C291;
  max-width: 100%;
}

/* navbar */

.masthead {
  padding-top: 10.5rem;
  text-align: center;
  color: #000000;
  background-color: transparent;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  height: 750px;
}

#mainNav {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #ffffdd;
}

#mainNav {
  background-color: transparent;
}

#mainNav .navbar-toggler {
  padding: 0.75rem;
  font-size: 0.75rem;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  text-transform: uppercase;
  font-weight: 700;
}

#mainNav .navbar-brand {
  color: #000000;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  letter-spacing: 0.0625em;
  text-transform: uppercase;
  font-size: 30px;
}

#mainNav .navbar-brand img {
  height: 1.5rem;
}

#mainNav .navbar-nav .nav-item .nav-link {
  font-family: 'Amaranth', sans-serif;
  font-size: 0.95rem;
  color: gray;
  letter-spacing: 0.0625em;
}

#mainNav .navbar-nav .nav-item .nav-link.active,
#mainNav .navbar-nav .nav-item .nav-link:hover {
  color: #ffc800;
}

.welcome {
  font-family: 'Rock Salt', cursive;
  font-size: 35px;
  margin-left: 0px;
  text-align: center;
  line-height: 80px;
}

/* hamburger menu */

.menu-toggle {
  display: none;
  flex-direction: column;
  height: 20px;
  background-color: transparent;
  justify-content: space-between;
  position: relative;
  order: 2 !important;
}

.menu-toggle input {
  position: absolute;
  width: 40px;
  height: 28px;
  opacity: 0;
  left: -5px;
  top: -3px;
  opacity: 0;
  cursor: pointer;
  z-index: 2;
}

.menu-toggle span {
  display: block;
  width: 28px;
  height: 3px;
  background-color: black;
  border-radius: 3px;
  transition: all 0.5s;
}

/* hamburger menu animation*/

.menu-toggle span:nth-child(2) {
  transform-origin: 0 0;
}

.menu-toggle span:nth-child(4) {
  transform-origin: 0 100%;
}

.menu-toggle input:checked~span:nth-child(2) {
  background-color: white;
  transform: rotate(45deg) translate(-1px, -1px);
}

.menu-toggle input:checked~span:nth-child(4) {
  background-color: white;
  transform: rotate(-45deg) translate(-1px, 0);
}

.menu-toggle input:checked~span:nth-child(3) {
  opacity: 0;
  transform: scale(0);
}

.svg svg {
  position: absolute;
  top: 0;
  z-index: -1;
}

.kantin h1 {
  margin-top: 180px;
  font-family: Satisfy;
}

.cards-container {
  overflow-x: auto;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  width: 48%;
}

.hero-click {
  display: flex;
  overflow-x: hidden;
  justify-content: center;
  align-items: center;
}

.cards-container::-webkit-scrollbar {
  display: none;
}

.swiper-slide {
  text-align: center;
  display: flex;
  justify-content: center;
  background-color: white;
  border: 1px solid #ddd;
  font-size: 24px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  border: 1px solid gray;
  margin: 2px;
}

.card-hero{
  width: 197px;
  height: 180px;
}

.content {
  display: flex;
  align-items: center;
}

.image-kantin img {
  border: 10px solid white;
  width: 180px;
  height: 100%;
}

.kontents-kantin {
  display: flex;
  justify-content: center;
  align-items: center;
}

.kontent-kantin a {
  color: black;
  text-decoration: none;
  font-family: ighteous;
}

span {
  font-size: 2px;
}

.makanan {
  color: #FFF;
  text-align: center;
  font-family: Satisfy;
  font-size: 75px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  z-index: 1;
  margin-top: 100px;
}

.button-click button {
  border: none;
  background-color: transparent;
}

.kantin h1 {
  margin-top: 180px;
  color: #FFF;
  text-align: center;
  font-family: Satisfy;
  font-size: 75px;
}

/* //style Menu// */
.Menu-kantin {
  margin: 30px;
}

.Menu-kantin a {
  text-decoration: none;
  color: wheat;
  font-size: 25px;
}

.Menu-kantin a:hover {
  color: #ffc800;
}

span {
  font-size: 2px;
}

.makanan {
  color: #FFF;
  text-align: center;
  font-family: Satisfy;
  font-size: 75px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  z-index: 1;
  margin-top: 100px;
}


.card-menu {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  margin-top: 10px;
}

p {
  margin: 0;
}

.card {
  width: 300px;
  height: 1;
  border-radius: 8px;
  overflow: hidden;
  margin: 8px;
  background-color: #f0f0f0;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  height: 290px;
  transition: 0.5s;
}

.cards {
  height: 100%;
}

.card:hover {
  transform: scale(1.1);
  z-index: 1;
}

.image {
  width: 100%;
  height: 50%;
}

.card img {
  width: 100%;
  height: 100%;
  background-position: center;
  border: 10px solid white;
}

.kontents {
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.kontent {
  padding: 10px;
  height: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.kontent h3 {
  color: #000;
  text-align: center;
  font-family: Righteous;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.kontent p {
  color: #000;
  text-align: center;
  font-family: Righteous;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.clicks {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20%;
}

.clicks .btn-submit {
  text-align: center;
  display: inline-block;
  border-radius: 4px;
  background: green;
  width: 90%;
  color: #ffff;
  font-family: Righteous;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.btn-submit:hover {
  background-color: black;
}

.keranjangs {
  position: relative;
  display: flex;
}

.ntif {
  position: relative;
  right: 10px;
  width: 23px;
  height: 23px;
  background-color: gray;
  border-radius: 50%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}

.ntif p {
  color: white;
  font-size: 15px;
  display: flex;
  align-items: center;
}

.custom-alert {
  display: none;
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #f44336;
  color: white;
  padding: 15px;
  border-radius: 5px;
  z-index: 999;
}

/* style footer */
.footer {
  width: 100%;
  height: 100%;
  background-color: #fff;
  margin-top: 116px;
  position: fixed-bottom;

}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sosmed {
  flex: 1;
  width: 80%;
  margin: auto;
}

.sosmed ul li a {
  color: #000;
  font-family: Amaranth;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}

.sosmed ul {
  text-align: start;
  margin-top: 20px;
}

.sosmed ul li a:hover {
  color: #380170;
}

.copyright p {
  color: rgba(0, 0, 0, 0.50);
  font-family: Amaranth;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
}

.copyright {
  flex: 1;
  width: 100%;
  margin: 0px 30px;
}

.footer ul li {
  list-style: none;
}

.image-1 img {
  z-index: -1;
  margin-bottom: 201%;
  margin-right: 300%;
}




@media only screen and (max-width: 600px) {
  body {
    max-width: 100%;
  }

  .menu-toggle {
    display: flex;
  }

  nav ul {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 70vh;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background-color: black;
    z-index: -1;
    transform: translatey(-100%);
    transition: all 1s;
    opacity: 0;
    color: #FFF;
    gap: 10px;
  }

  nav ul.slide {
    opacity: 1;
    transform: translateX(0);
  }

  .card {
    display: flex;
    justify-content: center;
  }

  .footer-containers {
    width: 100%;
  }

  .sosmed ul li a {
    font-size: 8px;
    margin-top: 10px;
    line-height: 10px;
  }

  .copyright p {
    font-size: 15px;
    text-align: center;
  }

  .svg svg {
    width: 70%;
    top: 0;
  }

  .ntif {
    right: 1px;
  }

  .cards-container{
    width: 60%;
  }

  .swiper-slide{
    width: 49%;
    height: 150px;
  }

  .image-kantin img{
    border: 7px solid white;
    width: 100%;
    height: 100%;
  }

  .kontents-kantin .kontent-kantin a{
    display: flex;
    align-items: start;
  }

  .kontent-kantin a{
    font-size: 18px;
  }

  .button-click button svg{
    width: 30px;
    height: 30px;
  }
  
  .kantin H1{
    margin-top: 90px;
  }

}

@media only screen and (min-width: 600px) and (max-width: 767px) {
  .menu-toggle {
    display: flex;
  }

  nav ul {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 70vh;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    background-color: black;
    z-index: -1;
    transform: translatey(-100%);
    transition: all 1s;
    opacity: 0;
  }

  nav ul.slide {
    opacity: 1;
    transform: translateX(0);
  }

  .footer-container {
    width: 100%;
  }

  .sosmed ul li a {
    font-size: 14px;
    margin-top: 10px;
    line-height: 10px;
  }

  .copyright p {
    font-size: 17px;
    text-align: center;
  }

  .ntif {
    right: 1px;
  }

  .cards-container{
    width: 70%;
  }

  .swiper-slide{
    width: 33%;
    height: 145px;
    margin: 1px;
  }

  .image-kantin img{
    width: 100%;
    height: 100%;
  }

  .kontent-kantin a{
    font-size: 15px;
  }

  .kontents-kantin .kontent-kantin a{
    display: flex;
    align-items: start;
  }

  .button-click button svg{
    width: 30px;
    height: 30px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .menu-toggle {
    display: flex;
  }

  nav ul {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 70vh;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    background-color: black;
    z-index: -1;
    transform: translatey(-100%);
    transition: all 1s;
    opacity: 0;
  }

  nav ul.slide {
    opacity: 1;
    transform: translateX(0);
  }

  .cards-container{
    width: 76%;
  }

  .swiper-slide{
    width:50%;
    height: 160px;
  }

  .image-kantin img{
    width: 100%;
    height: 100%;
  }

  .kontent-kantin a{
    font-size: 15px;
  }

  .kontents-kantin .kontent-kantin a{
    display: flex;
    align-items: start;
  }

  .button-click button svg{
    width: 30px;
    height: 30px;
  }

}

/* @media only screen and (min-width: 1200px){
.cards-container{
    width: 56%;
  }

  .swiper-slide{
    width:25%;
    height: 160px;
  }

  .image-kantin img{
    width: 100%;
    height: 100%;
  }

  .kontent-kantin a{
    font-size: 15px;
  }

  .kontents-kantin .kontent-kantin a{
    display: flex;
    align-items: start;
  }

  .button-click button svg{
    width: 30px;
    height: 30px;
  }

} */