
.nav-link{
    color: #016A70;
    text-align: center;
    font-family: Amaranth;
    font-size: 20.5px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: 3px solid;
    border-radius: 15%;
    border: none;
}

.nav-link:hover {
    color: white;
}


h1 {
    color: #016A70;
    text-align: center;
    font-family: Satisfy;
    font-size: 75px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

h3 {
    color: #016A70;
    text-align: center;
    min-height: 50px;
    line-height: 50px;
    margin-top: 20px;
}


h4 {
    color: #000;
    text-align: center;
    font-family: Righteous;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.card {
    width: 287px;
    fill: #d5d5d5;
    stroke-width: 2px;
    stroke: #A6A6A6;
    filter: drop-shadow(0px 4px 40px rgba(0, 0, 0, 0.26));
    display: flex;
    /* margin: auto; */
}

.btn1 {
    color: white;
    font-family: Righteous;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius:5px;
    width: 217.372px;
    height: 35.955px;
    flex-shrink: 0;
    /* margin-top: auto; */
    align-items: center;
    background-color: #435334;
    border: none;

}

.image {
    align-items: center;
    justify-content: center;
    width: 253.742px;
    height: 146.081px;
    flex-shrink: 0;
    display: flex;
    margin-left: 16.5px;
    margin-top: 18.5px;
}

.container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 50px 0px;
    margin-top: 0;
    margin-bottom: 40px;
}

/* .bg {
    background: url(img/gambar\ gelombang\ pasti\ 2.jpg), lightgray 50% / cover no-repeat;
    width: 1270px;
    height: 1000px;
    flex-shrink: 0;
} */

.main-layout {
    background-color: #FFFFDD ;

}

.dinone {
    font-size: x-large;
    align-items: center;
    display: center;
    font-family: amaranth;
    margin-left: 70px;
}


p {
    font-size: x-large;
    font-style: italic;
    opacity: 0.5;
    margin-left: auto;
    margin-right: 40px;
}

.space {
    margin-top: auto;
}

.bg .segitiga1 {
    /* background-image: url('<svg xmlns="http://www.w3.org/2000/svg" width="485" height="643" viewBox="0 0 485 643" fill="none"></svg>'); */
    flex-shrink: 0;
    position: absolute;
    z-index: -1;
    right: 62%;

}

.bg2 .segitiga2 {
    /* background-image: url('<svg class="segitiga2" xmlns="http://www.w3.org/2000/svg" width="486" height="649" viewBox="0 0 486 649" fill="none"></svg>'); */
    position: absolute;
    z-index: -1;
    flex-shrink: 0;
    left: 63%;
    bottom: -121.5%;
}

.segitiga3 {
    position: absolute;
    z-index: -1;
    flex-shrink: 0;
    left: 87%;
    top: 0%;
}

.segitiga4 {
    position: absolute;
    z-index: -1;
    flex-shrink: 0;
    top: 191%;
    left: 0%;
}

.btn {
    background-color: transparent;
    border: #016A70;
    margin-right: 10px;


}

