body {
    background-color: #fff !important;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* 
svg */
.svg-container{
    position: relative;
}

.svg-container-2{
    position: relative;
    height: 50vh;
}

.svg-container .svg-kuning{
    position: absolute;
    top: 0;
    z-index: -1;
}

.svg-container .svg-hijau{
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}

.svg-container-2 .hijau-kanan{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.svg-container-2 .kuning-kiri{
    position: absolute;
    z-index: -1;
    bottom: 0;
}
/* style img keranjang kalau kosong */
.content-img {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.content-img {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
}

.content-text .content-child {
    color: #000;
    text-align: center;
    font-family: Sansation;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.content-text .content-child-1 {
    color: #5A5A5A;
    text-align: center;
    font-family: Sansation;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* style table keranjang */
h1.text-center {
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: "Roboto Slab", serif;
}

.content-nav {
    display: flex;
}

.Header-table {
    display: flex;
    justify-content: center;
    width: 20%;
    border-bottom: 5px solid black;
}

.Header-table {
    font-weight: bold;
}

.Header-checkbox {
    display: flex;
    justify-content: center;
    width: 1%;
    border-bottom: 5px solid black;
}

.content {
    display: flex;
    border-bottom: 1px solid black;
}

.content-checkbox {
    display: flex;
    justify-content: center;
}

.Keranjang-page {
    width: 90%;
}

.card {
    width: 100%;
    display: flex;
}

.content-table {
    width: 20%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 20px;
}

.harga {
    width: 20%;
    display: flex;
    text-align: center;
    align-items: center;
}

.content-table.foto {
    display: flex;
}

.content-cart{
    display: flex;
    flex-direction: column;
    align-items: start;
}

.content-cart .kantin-name{
    color: #A69F9F;
    font-size: 15px;
    font-family: Amaranth;
}

.content-cart .menu-name {
    font-weight: 500;
    font-size: 15px;
    font-family: Amaranth;
}

.card-pembungkus img {
    width: 80px;
    height: 60px;
    border-radius: 10px;
    margin-right: 10px;
}

.btns button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin: 0 5px;
}

.btns button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.totals {
    display: flex;
    justify-content: end;
    padding: 50px
}

.subtotal {
    display: flex;
    align-items: center;
    border-bottom: 2px solid black;
}

.subtotal p {
    font-family: "Bebas Neue", sans-serif;
    font-size: 28px;
}

.checkouts {
    display: flex;
    justify-content: end;
}

.cekout {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.buttons {
    width: 100px;
    background-color: #016a70;
    font-family: "Oswald", sans-serif;
    color: #fff;
    padding: 10px;
    font-size: 18px;
    border-radius: 8px;
    text-decoration: none;
    letter-spacing: 0.1em;
}

.buttons:hover {
    background-color: #140e0e;
}

.remove button{
        background-color: transprent
}

.remove i {
    color: #000000;
}

.remove i:hover {
    color: red;
}

.Header-checkbox {
    display: flex;
    justify-content: start;
    padding: 0;
}

.content-checkbox {
    display: flex;
    justify-content: center;
}

.checkbox-content {
    display: flex;
    align-items: center;
    height: 50px;
    width: 100%;
}

p {
    margin: 0;
}

.checkbox-content p {
    padding-left: 5px;
}

/* style alert */
.pembungkus-alert {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.custom-alert {
    position: absolute;
    font-size: 15px;
    font-family: 'Oswald', sans-serif;
    color: #000;
    background-color: rgb(15, 215, 15);
    width: 300px;
    height: 50px;
    border-radius: 18px;
}

.custom-alert p{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 13px;
}
@media only screen and (max-width: 600px) {
    .hilang {
        display: block;
    }

    .harga {
        display: none;
    }

    .harga-satuan {
        display: none;
    }

    .total {
        display: none;
    }

    .Keranjang-page {
        width: 100%;
    }

    .content-nav {
        width: 100%;
    }

    .Header-table {
        width: 35%;
    }

    .content-table {
        width: 35%;
    }

    .checkout {
        display: inline;
    }

    .btns button {
        padding: 1px 1px;
    }

    .content p {
        font-size: 15px;
    }

    .harga p {
        margin-left: 10px;
    }

    .subtotal p {
        font-size: 20px;
    }

    .cekout {
        width: 128px;
    }

    .buttons {
        width: 100px;
        font-size: 18px;
    }

    .card-pembungkus img {
        width: 50px;
        height: 30px;
        margin-right: 0;
    }

    .content .menu-name {
        font-size: 12px;
    }
    
    .content-cart .kantin-name{
        font-size: 12px;
    }

    .image img{
        width: 180px;
    }

    .svg-container .svg-kuning{
        width: 150px;
        height: 100px;
    }
    
    .svg-container .svg-hijau{
        width: 100px ;
        height: 90px;
    }
    
    .svg-container .hijau-kanan{
       width: 100px;
       height: 100px;
    }
    
    .svg-container .kuning-kiri{
        width: 120px;
        height: 100px;
    }
}

@media screen and (min-width: 600px) and (max-width: 767px) {

    .Keranjang-page {
        width: 100%;
    }

    .content-nav {
        width: 100%;
    }

    .Header-table {
        width: 50%;
    }

    .content-table {
        width: 33%;
    }

    .content p {
        font-size: 15px;
    }

    .harga-satuan {
        display: none;
    }

    .total {
        display: none;
    }

    .harga {
        display: none;
    }

    .content-nav {
        width: 100%;
    }

    
    .svg-container .svg-kuning{
        width: 200px;
        height: 200px;
    }
    
    .svg-container .svg-hijau{
        width: 150px ;
        height: 150px;
    }
    
    .svg-container .hijau-kanan{
       width: 200px;
       height: 200px;
    }
    
    .svg-container .kuning-kiri{
        width: 150px;
        height: 150px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {

    .Keranjang-page {
        width: 100%;
    }

    .content-nav {
        width: 100%;
    }

    .Header-table {
        width: 50%;
    }

    .content-table {
        width: 33%;
    }

    .content p {
        font-size: 15px;
    }

    .harga-satuan {
        display: none;
    }

    .total {
        display: none;
    }

    .harga {
        display: none;
    }

    .content-nav {
        width: 100%;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .foto img {
        width: 100px;
    }

    .content p {
        font-size: 18px;
    }

    .dropdown-sidebar {
        right: 20px;
    }

    .dropdown-content li a {
        font-size: 14px;
    }
}