body {
    background-color: #f0f0f0 !important;
}

#mainNav {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #ffffdd;
    margin-bottom: 10px;
}

#mainNav {
    background-color: transparent;
}

#mainNav .navbar-toggler {
    padding: 0.75rem;
    font-size: 0.75rem;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    text-transform: uppercase;
    font-weight: 700;
}

#mainNav .navbar-brand {
    color: #000000;
    font-family: "Oswald", sans-serif;
    font-weight: 700;
    letter-spacing: 0.0625em;
    text-transform: uppercase;
    font-size: 30px;
}

h3 {
    margin: 0;
}

#mainNav .navbar-brand img {
    height: 1.5rem;
}

#mainNav .navbar-nav .nav-item .nav-link {
    font-family: "Amaranth", sans-serif;
    font-size: 0.95rem;
    color: gray;
    letter-spacing: 0.0625em;
}

#mainNav .navbar-nav .nav-item .nav-link.active,
#mainNav .navbar-nav .nav-item .nav-link:hover {
    color: #ffc800;
}

.nav-content {
    display: flex;
}

/* style table keranjang */
h1.text-center {
    margin-top: 100px;
    margin-bottom: 50px;
    font-family: "Roboto Slab", serif;
}

.content-nav {
    display: flex;
}

.Header-table {
    display: flex;
    justify-content: center;
    width: 20%;
    border-bottom: 5px solid black;
}

.Header-table {
    font-weight: bold;
}

.Header-checkbox{
    display: flex;
    justify-content: center;
    width: 1%;
    border-bottom: 5px solid black;
}

.content {
    display: flex;
    border-bottom: 1px solid black;
}

.content-checkbox{
    display: flex;
    justify-content: center;
}

.Keranjang-page {
    width: 90%;
}

.card {
    width: 100%;
    display: flex;
}

.content-table {
    width: 20%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 20px;
}

.harga {
    width: 20%;
    display: flex;
    text-align: center;
    align-items: center;
}

.content-table.foto {
    display: flex;
}

.content p {
    font-weight: 500;
    font-size: 17px;
}

.card-pembungkus img {
    width: 100px;
    height: 100px;
    border-radius: 10px;
}

.btns button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin: 0 5px;
}

.btns button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.totals {
    display: flex;
    justify-content: end;
    padding: 50px
}

.subtotal {
    display: flex;
    align-items: center;
    border-bottom: 2px solid black;
}

.subtotal p {
    font-family: "Bebas Neue", sans-serif;
    font-size: 28px;
}

.checkouts {
    display: flex;
    justify-content: end;
}

.cekout {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.buttons {
    width: 100px;
    background-color: #016a70;
    font-family: "Oswald", sans-serif;
    color: #fff;
    padding: 10px;
    font-size: 18px;
    border-radius: 8px;
    text-decoration: none;
}

.buttons:hover {
    background-color: #140e0e;
}

.remove i {
    color: #000000;
}

.remove i:hover {
    color: red;
}

.Header-checkbox{
    display: flex;
    justify-content: start;
    padding: 0;
}

.content-checkbox{
    display: flex;
    justify-content: center;
}

.checkbox-content{
    display: flex;
    align-items: center;
    height: 50px;
    width: 100%;
}
p{
    margin: 0;
}

.checkbox-content p {
    padding-left: 5px;
}
/* footer */
.footer {
    width: 100%;
    height: 100%;
    background-color: #B5B5B5;
    margin-top: 50px;
}

@media only screen and (max-width: 600px) {
    
    .hilang {
        display: block;
    }

    .harga {
        display: none;
    }

    .harga-satuan {
        display: none;
    }

    .total {
        display: none;
    }

    .Keranjang-page {
        width: 100%;
    }

    .content-nav {
        width: 100%;
    }

    .Header-table {
        width: 35%;
    }

    .content-table {
        width: 35%;
    }

    .checkout {
        display: inline;
    }

    .btns button {
        padding: 1px 1px;
    }

    .content p {
        font-size: 15px;
    }

    .harga p {
        margin-left: 10px;
    }

    .subtotal p {
        font-size: 20px;
    }

    .cekout {
        width: 128px;
    }

    .buttons {
        width: 100px;
        font-size: 18px;
    }

    .card-pembungkus img {
        width: 80px;
        height: 70px;
    }

    .content p {
        font-size: 12px;
    }
}

@media screen and (min-width: 600px) and (max-width: 767px) {
   
    .Keranjang-page {
        width: 100%;
    }

    .content-nav {
        width: 100%;
    }

    .Header-table {
        width: 50%;
    }

    .content-table {
        width: 33%;
    }

    .content p {
        font-size: 15px;
    }

    .harga-satuan {
        display: none;
    }

    .total {
        display: none;
    }

    .harga {
        display: none;
    }

    .content-nav {
        width: 100%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  
    .Keranjang-page {
        width: 100%;
    }

    .content-nav {
        width: 100%;
    }

    .Header-table {
        width: 50%;
    }

    .content-table {
        width: 33%;
    }

    .content p {
        font-size: 15px;
    }

    .harga-satuan {
        display: none;
    }

    .total {
        display: none;
    }

    .harga {
        display: none;
    }

    .content-nav {
        width: 100%;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .foto img {
        width: 100px;
    }

    .content p {
        font-size: 18px;
    }

    .dropdown-sidebar {
        right: 20px;
    }

    .dropdown-content li a {
        font-size: 14px;
    }
}