body {
    background-color: #f0f0f0;
  }
  
  #mainNav {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #ffffdd;
    margin-bottom: 10px;
  }
  
  #mainNav {
    background-color: transparent;
  }
  
  #mainNav .navbar-toggler {
    padding: 0.75rem;
    font-size: 0.75rem;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    text-transform: uppercase;
    font-weight: 700;
  }
  
  #mainNav .navbar-brand {
    color: #000000;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    letter-spacing: 0.0625em;
    text-transform: uppercase;
    font-size: 30px;
  }
  
  #mainNav .navbar-brand img {
    height: 1.5rem;
  }
  
  #mainNav .navbar-nav .nav-item .nav-link {
    font-family: 'Amaranth', sans-serif;
    font-size: 0.95rem;
    color: gray;
    letter-spacing: 0.0625em;
  }
  
  #mainNav .navbar-nav .nav-item .nav-link.active,
  #mainNav .navbar-nav .nav-item .nav-link:hover {
    color: #ffc800;
  }
  /* hamburger menu */

.menu-toggle {
  display: none;
  flex-direction: column;
  height: 20px;
  background-color: transparent;
  justify-content: space-between;
  position: relative;
  order: 2 !important;
}

.menu-toggle input {
  position: absolute;
  width: 40px;
  height: 28px;
  opacity: 0;
  left: -5px;
  top: -3px;
  opacity: 0;
  cursor: pointer;
  z-index: 2;
}

.menu-toggle span {
  display: block;
  width: 28px;
  height: 3px;
  background-color: black;
  border-radius: 3px;
  transition: all 0.5s;
}

/* hamburger menu animation*/

.menu-toggle span:nth-child(2) {
  transform-origin: 0 0;
}

.menu-toggle span:nth-child(4) {
  transform-origin: 0 100%;
}

.menu-toggle input:checked~span:nth-child(2) {
  background-color: white;
  transform: rotate(45deg) translate(-1px, -1px);
}

.menu-toggle input:checked~span:nth-child(4) {
  background-color: white;
  transform: rotate(-45deg) translate(-1px, 0);
}

.menu-toggle input:checked~span:nth-child(3) {
  opacity: 0;
  transform: scale(0);
}


  .nav-content{
    display: flex;
  }

  /* style dropdown */
.content-container {
  display: flex;
  justify-content: center;
  width: 50%;
}

.button-sidebar {
  display: flex;
  align-items: center;
  width: 150px;
}

.button-click {
  display: flex;
  justify-content: center;
}

.button-sidebar button {
  background-color: transparent;
  color: black;
  border: none;
  font-family: "Amaranth", sans-serif;
  font-size: 20px;
  letter-spacing: 0.0625em;
}

.dropdown-sidebar {
  position: absolute;
  top: 32px;
  right: 10px;
  display: none;
  margin-top: 2px;
  background-color: white;
  text-align: center;
  width: 180px;
  padding: 10px;
  border-radius: 10px;
}

ul {
  padding-left: 0;
  margin-bottom: 0;
}

.dropdown-content li a {
  color: black;
  text-decoration: none;
  font-family: Outfit;
  font-size: 15px;
}

.dropdown-content li a:hover {
  color: #6506c3;
}

.histori {
  border-bottom: 2px solid black;
}

.dropdown-sidebar ul li {
  list-style: none;
}

.dropdown-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.dropdown {
  display: flex;
  align-items: center;
}
  
  /* card histori */
  .Histori {
    margin-top: 100px;
    margin-bottom: 20px;
    font-family: 'Roboto Slab', serif;
  }
  
  .container-histori {
    display: flex;
    justify-content: center;
  }
  
  .card {
    border-radius: 100px;
    width: 80%;
  }
  
  .content {
    display: flex;
    justify-content: space-between;
    margin: 30px;
  
  }
  
  .content p {
    font-size: 20px;
    margin-top: auto;
    margin-bottom: auto;
  }
  
  .btn {
    width: 150px;
    border-radius: 100px;
    background-color: rgb(19, 120, 236);
    color: ivory;
  }
  
  .btn:hover {
    transform: rotate(39deg);
    background-color: rgb(99, 93, 93);
  }
  
  /* style modal */
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
  }
  
  .modal-content {
    background-color: #fff;
    margin: 5% auto;
    padding: 10px;
    border: 1px solid #888;
    width: 60%;
  }
  
  .close {
    color: #888;
    float: right;
    font-size: 20px;
    font-weight: bold;
  }
  
  .close:hover {
    color: #000;
    cursor: pointer;
  }
  
  .text-detail {
    text-align: center;
  }
  
  .content-item {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  
  .content-hero {
    display: flex;
    align-items: center;
    width: 58%;
  }
  
  .hero-item {
    border-top: dashed 3px black;
    border-bottom: dashed 3px black;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    padding: 10px;
  }
  
  .content-child {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  
  .child-content {
    display: flex;
    align-items: center;
    width: 60%;
  }
  
  .hero-child {
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: center;
    padding-top: 5px;
    padding-bottom: 2px;
  }
  
  /* //total// */
  .content-total {
    display: flex;
    justify-content: end;
    width: 100%;
  }
  
  .child-total {
    display: flex;
    align-items: end;
    width: 62%;
  }
  
  .hero-total {
    margin: auto;
    display: flex;
    justify-content: center;
    padding: 20px;
  }
  
  .hero-child p {
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    line-height: normal;
    color: #000;
    font-size: 18px;
  }
  
  .hero-total p {
    border-top: dashed 3px black;
    border-bottom: dashed 3px black;
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    line-height: normal;
    color: #000;
    font-size: 18px;
    padding: 10px;
  }
  
  p {
    margin-top: 0;
    margin-bottom: 0;
  }

  h3{
    margin: 0;
  }
  
  
  @media only screen and (max-width: 600px) {
    body {
      max-width: 100%;
    }
  
    .menu-toggle {
      display: flex;
      position: relative;
      z-index: 9999;
    }
  
    nav ul {
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;
      height: 40vh;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      background-color: black;
      z-index: -1;
      transform: translatey(-100%);
      transition: all 1s;
      opacity: 0;
    }
  
    nav ul.slide {
      opacity: 1;
      transform: translateX(0);
    }

    #mainNav .navbar-brand {
      position: absolute;
      z-index: -1;
    }

    .nav-content{
      flex-direction: column;
      order: 2;
    }
     
    .button-sidebar{
      width: 130px;
      margin: 10px;
    }

    .nav-content li {
      width: 120px;
      margin: 10px;
    }

    .button-sidebar button{
      color: white;
    }

    .dropdown-sidebar{
      right: -5px;
    }
  
    .content p {
      font-size: 15px;
    }
  
    .btn {
      width: 100%;
      font-size: 15px;
    }
  
    .modal-content{
      margin: 100px auto;
      width: 90%;
    }
  
    .content-hero{
      width: 95%;
    }
  
    .child-content{
      width: 95%;
    }
  
    .child-total{
      width: 35%;
    }
  
    .hero-child p{
      font-size: 12px;
    }
  
    .hero-total p{
      font-size: 10px;
      text-align: center;
    }
  
  }
  
  @media only screen and (min-width: 600px) and (max-width: 767px) {
    .menu-toggle {
      display: flex;
      position: relative;
      z-index: 9999;
    }
  
    nav ul {
      position: absolute;
      left: 0;
      top: 0;
      width: 50%;
      height: 100vh;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      background-color: black;
      z-index: -1;
      transform: translatex(-100%);
      transition: all 1s;
      opacity: 0;
    }
  
    nav ul.slide {
      opacity: 1;
      transform: translateX(0);
    }
    
    #mainNav .navbar-brand {
      position: absolute;
      z-index: -1;
    }

    .menu-toggle input:checked~span:nth-child(2) {
      background-color: black;
      transform: rotate(45deg) translate(-1px, -1px);
    }
    
    .menu-toggle input:checked~span:nth-child(4) {
      background-color: black;
      transform: rotate(-45deg) translate(-1px, 0);
    }

    .nav-content{
      flex-direction: column;
      order: 2;
    }

    .nav-content li{
      width: 120px;
    }

    .button-sidebar{
      width: 130px;
    }

    .button-sidebar button{
      color: white;
    }

    .dropdown-sidebar{
      right: -15px;
    }

    .modal-content{
      width: 80%;
      margin: 100px auto;
    }
  
    .content-hero{
      width: 90%;
    }
  
    .child-content{
      width: 90%;
    }
  
    .child-total{
      width: 50%;
    }
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .menu-toggle {
      display: flex;
      position: relative;
      z-index: 9999;
    }
  
    nav ul {
      position: absolute;
      left: 0;
      top: 0;
      width: 50%;
      height: 100vh;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      background-color: black;
      z-index: -1;
      transform: translatex(-100%);
      transition: all 1s;
      opacity: 0;
    }
  
    nav ul.slide {
      opacity: 1;
      transform: translateX(0);
    }
    
    #mainNav .navbar-brand {
      position: absolute;
      z-index: -1;
    }

    .nav-content{
      flex-direction: column;
      order: 2;
    }
    
    .button-sidebar{
      width: 130px;
    }
    
    .button-sidebar button{
      color: white;
    }
     
    .nav-content li{
      width: 120px;
    }
    
    .dropdown-sidebar{
      right: -16px;
    }

    .modal-content{
      width: 80%;
      margin: 100px auto;
    }
  
    .content-hero{
      width: 90%;
    }
  
    .child-content{
      width: 90%;
    }
  
    .child-total{
      width: 50%;
    }
  }
  
  @media only screen and (min-width: 991px) and (max-width: 1199px) {
    .content-hero{
      width: 90%;
    }
     
    .child-content{
      width: 90%;
    }
  
    .child-total{
      width: 40%;
      text-align: center;
    }
  }