* {
  padding: 0;
  margin: 0;
}

body {
  background-color: white;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

@keyframes Menu {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 100;
  }
}

/* svg */

.svg-content svg{
  position: absolute;
  left: 0;
  z-index: -1;
}

/* navbar */

#mainNav {
  padding-bottom: 1rem;
  background-color: transparent;
  position: fixed;
  width: 100%;
}

nav{
  padding: 0;
}

#mainNav .navbar-toggler {
  padding: 0.75rem;
  font-size: 0.75rem;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  text-transform: uppercase;
  font-weight: 700;
}


.welcome {
  font-family: 'Rock Salt', cursive;
  font-size: 35px;
  margin-left: 0px;
  text-align: center;
  line-height: 80px;
}

.container-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.navbar-content {
  display: flex;

}

.content-nav .navbar-nav {
  display: flex;
}

 .navbar-nav .nav-link {
  padding: 10px;
  text-decoration: none;
  font-family: 'Amaranth', sans-serif;
  color: gray;
  letter-spacing: 0.0625em;
}

 .navbar-nav .nav-link:hover {
  color: #ffc800;
}

.navbar-nav {
  display: flex;
}


.nav-content {
  display: flex;
  align-items: center;
  justify-content: end;
}

.navbars {
  color: gray;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  letter-spacing: 0.0625em;
  text-transform: uppercase;
  font-size: 25px;
  padding: 10px;
}

.keranjangs {
  display: flex;
  align-items: center;
}

/* hamburger menu */

.menu-toggle {
  display: none;
  flex-direction: column;
  height: 20px;
  background-color: transparent;
  justify-content: space-between;
  position: relative;
  order: 2 !important;
}

.menu-toggle input {
  position: absolute;
  width: 40px;
  height: 28px;
  opacity: 0;
  left: -5px;
  top: -3px;
  opacity: 0;
  cursor: pointer;
  z-index: 2;
}

.menu-toggle span {
  display: block;
  width: 28px;
  height: 3px;
  background-color: black;
  border-radius: 3px;
  transition: all 0.5s;
}

/* hamburger menu animation*/

.menu-toggle span:nth-child(2) {
  transform-origin: 0 0;
}

.menu-toggle span:nth-child(4) {
  transform-origin: 0 100%;
}

.menu-toggle input:checked~span:nth-child(2) {
  background-color: white;
  transform: rotate(45deg) translate(-1px, -1px);
}

.menu-toggle input:checked~span:nth-child(4) {
  background-color: white;
  transform: rotate(-45deg) translate(-1px, 0);
}

.menu-toggle input:checked~span:nth-child(3) {
  opacity: 0;
  transform: scale(0);
}


/* style dropdown */

.dropdown {
  display: flex;
  justify-content: start;
  position: relative;
}

.button-sidebar {
  display: flex;
  align-items: center;
}

.button-sidebar button {
  background-color: transparent;
  color: gray;
  border: none;
  font-family: "Amaranth", sans-serif;
  font-size: 20px;
  letter-spacing: 0.0625em;
  padding: 5px;
}

.button-sidebar button i {
  position: relative;
  right: 8px;
  top: 1px;
}

.dropdown-sidebar {
  position: absolute;
  top: 32px;
  right: 5px;
  display: none;
  margin-top: 2px;
  background-color: white;
  text-align: center;
  width: 200px;
  border-radius: 10px;
  border: 1px solid black;
  animation: Menu 1s;
}

.dropdowm-sidebar .navbar-nav {
  width: 0;
}

ul {
  padding-left: 0;
  margin-bottom: 0;
}

.dropdown-content li a {
  color: gray;
  text-decoration: none;
  font-family: "Amaranth", sans-serif;
  font-size: 18px;
  animation: Menu 1s;
}

.dropdown-content li a.nav-dropdown:hover {
  opacity: 60%;
  cursor: progress;
}

.dropdown-content li {
  padding: 8px;
  list-style: none;
  display: block;
}

.dropdown-content li:hover{
  --tw-bg-opacity: 1;
    background-color: rgb(229 231 235);
    border-radius: 5px;
}

.dropdown-sidebar ul li {
  list-style: none;
}

.keranjangs {
  position: relative;
  display: flex;
}

.ntif {
  position: relative;
  right: 15px;
  top: -12px;
  width: 23px;
  height: 23px;
  background-color: gray;
  border-radius: 50%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}

.ntif p {
  color: white;
  font-size: 15px;
  display: flex;
  align-items: center;
}

/* style alert */

.pembungkus-alert{
   display: flex;
   justify-content: center;
}

.custom-alert{
  background-color: red;
  padding: 10px;
  font-size: 18px;
  border-radius: 10px;
  font-family: outfit;
}

/* style menu */
.cards {
  display: flex;
  justify-content: center;
}
.menu-page{
  margin-top: 200px;
}

.menu{
  text-align: center;
  color: #96C291;
  font-family: Satisfy;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

}

.card-content {
  width: 200px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 4px;
  margin: 5px;
}


.content-hero {
  width: 900px;
}

.content-child {
  display: flex;
  padding: 20px;
  margin: 10px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.content-text {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.content-text p {
  color: #000;
  text-align: center;
  font-family: Righteous;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 2px;
}

.card-image {
  display: flex;
  justify-content: center;
}

.card-image img {
  width: 175px;
  height: 100px;
  border-top: 10px solid white;
  background-position: center;
}

.content {
  padding: 5px;
}

.content button {
  background-color: red;
  width: 170px;
  color: #FFF;
  text-align: center;
  font-family: Righteous;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 5px;
}

.content button:hover{
  --tw-bg-opacity: 10;
    background-color: rgb(190, 7, 7);
}

.contact .section-heading {
  color: #fff;
  z-index: 3;
}

section#contact {
  background-color: #a2c579;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 20px;
  z-index: -2;
  height: 100%;
  width: 100%;
}

.contact .section-heading {
  color: #016a70;
}

.contact form#contactForm .form-control:focus {
  border-color: #ffc800;
  box-shadow: none;
}

.feedback {
  color: white;
  text-align: center;
  font-family: Satisfy;
  font-size: 75px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  z-index: 3;
}

.button {
    margin-bottom: 50px;
    padding: 15px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


/* footer */

.footer {
  width: 100%;
  height: 100%;
  background-color: #B5B5B5;
  margin-top: auto;
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sosmed {
  flex: 1;
  padding: 20px;
}

.sosmed ul a {
  color: #000;
  font-family: Amaranth;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  padding: 10px;
}

.sosmed ul a:hover {
  color: #380170;
}

.copyright p {
  color: rgba(0, 0, 0, 0.50);
  font-family: Amaranth;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  justify-content: center;
  align-items: center;
}

.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer ul li {
  list-style: none;
}

.footer-content{
  display: flex;
  justify-content: center;
}

p {
  margin: 0;
}

h3{
  margin: 0;
}

@media only screen and (max-width: 600px) {
  body {
    max-width: 100%;
  }

  #mainNav {
    background-color: transparent;
  }

  .menu-toggle {
    display: flex;
    position: relative;
    z-index: 9999;
  }

  .menu-toggle span{
    background-color: gray;
  }

  .menu-toggle input:checked~span:nth-child(2) {
    background-color: gray;
    transform: rotate(45deg) translate(-1px, -1px);
  }

  .menu-toggle input:checked~span:nth-child(4) {
    background-color: gray;
    transform: rotate(-45deg) translate(-1px, 0);
  }

  .menu-toggle {
    display: flex;
  }

  nav .navbar-nav {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 80vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
    z-index: 2;
    transform: translatey(-100%);
    transition: all 1s;
    opacity: 0;
    color: #fff;
    gap: 10px;
  }

  nav .navbar-nav.slide {
    opacity: 1;
    transform: translateX(0);
  }

  .navbar-brand {
    display: flex;
    justify-content: center;
  }

  .content-nav .navbar-nav .nav-content .nav-link{
    padding: 20px;
  }

  .nav-content {
    display: grid;
    flex-direction: column;
    order: 2;
  }

  .nav-content li {
    margin: 20px;
  }

  .ntif {
    top: -10px;
    right: 25px;
  }

  .dropdown {
    order: 1;
  }

  .dropdown-sidebar{
    top: 35px;
    right: 8px;
  }

  .button-sidebar button {
    color: gray;
  }

  .dropdown-content li a {
    color: black;
  }

  .button-sidebar button i {
    top: 1px;
    right: 10px;
  }

  #mainNav .navbar-brand {
    font-size: 20px;
  }

  #mainNav .navbar-brand {
    font-size: 20px;
  }

  .masthead {
    height: 100%;
  }

  .navbars {
    font-size: 18px;
    line-height: 28px;
    z-index: 5;
    display: flex;
    justify-content: center;
  }

  .copyright {
    width: 46%;
  }

  .sosmed {
    padding: 0;
    display: flex;
    justify-content: start;
    align-items: center;
  }

  .sosmed ul {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }

  .sosmed ul a {
    font-size: 9px;
    padding: 0;

  }

  .copyright p {
    font-size: 10px;
    text-align: center;
  }  

  .svg-content svg{
    width: 150px; 
    height: 150px;
  }

  .feedback{
    font-size: 40px;
  }
}

@media only screen and (min-width: 600px) and (max-width: 768px) {
  .menu-toggle {
    display: flex;
    position: relative;
    z-index: 9999;
  }

  nav .navbar-nav {
    position: absolute;
    left: 0;
    top: 0;
    width: 40%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
    z-index: 999;
    transform: translatex(-100%);
    transition: all 1s;
    opacity: 0;
    color: #fff;
    gap: 10px;
  }

  nav .navbar-nav.slide {
    opacity: 1;
    transform: translateX(0);
  }

  .menu-toggle span{
    background-color: gray;
  }

  .menu-toggle input:checked~span:nth-child(2) {
    background-color: gray;
    transform: rotate(45deg) translate(-1px, -1px);
  }

  .menu-toggle input:checked~span:nth-child(4) {
    background-color: gray;
    transform: rotate(-45deg) translate(-1px, 0);
  }

  .nav-content {
    display: grid;
    flex-direction: column;
    order: 2;
  }

  .content-nav .navbar-nav .nav-content .nav-link{
    padding: 20px;
  }
   
  .button-sidebar{
    padding: 5px;
  }

  .button-sidebar button {
    color: gray;
  }

  .dropdown {
    order: 1;
  }

  .ntif {
    right: 25px;
    top: -10px;
  }

  .navbars {
    font-size: 18px;
    line-height: 28px;
    z-index: 5;
    display: flex;
    justify-content: center;
  }

  .sosmed {
    width: 70%;
    padding: 10px;
    display: flex;
    align-items: center;
  }

  .sosmed ul {
    padding: 10px;
  }

  .sosmed ul a {
    font-size: 12px;
    padding: 1px;
    text-align: center;
  }

  .copyright p {
    font-size: 16px;
    text-align: center;
  }

  .svg-content svg{
    width: 300px; 
    height: 300px;
  }

}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  .menu-toggle {
    display: flex;
    position: relative;
    z-index: 9999;
  }

  nav .navbar-nav {
    position: absolute;
    left: 0;
    top: 0;
    width: 40%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
    z-index: 2;
    transform: translatex(-100%);
    transition: all 1s;
    opacity: 0;
    color: #fff;
    gap: 10px;
  }

  nav .navbar-nav.slide {
    opacity: 1;
    transform: translateX(0);
  }

  .menu-toggle span{
    background-color: gray;
  }

  .menu-toggle input:checked~span:nth-child(2) {
    background-color: gray;
    transform: rotate(45deg) translate(-1px, -1px);
  }

  .menu-toggle input:checked~span:nth-child(4) {
    background-color: gray;
    transform: rotate(-45deg) translate(-1px, 0);
  }

  .nav-content {
    display: grid;
    flex-direction: column;
    order: 2;
  }

  .content-nav .navbar-nav .nav-content .nav-link{
    padding: 20px;
  }
   
  .button-sidebar{
    padding: 5px;
  }

  .button-sidebar button {
    color: gray;
  }

  .button-sidebar button i {
    position: relative;
    right: 1px;
  }

  .welcome {
    font-size: 20px;
    line-height: 30px;
  }

  .ntif {
    right: 23px;
    top: -10px;
  }

  .sosmed {
    width: 70%;
    padding: 10px;
    display: flex;
    align-items: center;
  }

  .sosmed ul {
    padding: 10px;
  }

  .sosmed ul a {
    font-size: 16px;
    padding: 1px;
    text-align: center;
  }

  .copyright p {
    font-size: 16px;
    text-align: center;
  }

  .svg-content svg{
    width: 300px; 
    height: 300px;
  }
}

@media only screen and (min-width: 1200px) {
  .welcome {
    font-size: 30px;
    line-height: 40px;
  }
}