.Histori {
    margin-top: 100px;
    margin-bottom: 20px;
    font-family: outfit;
}

.container-histori {
    width: 100vw;
    align-items: center;
    display: flex;
    justify-content: center;
}

.card {
    font-family: outfit;
    border-width: 2px;
    border-radius: 10px;
    margin: 10px 0px;
    width: 80%;
}

.content {
    display: flex;
    justify-content: space-between;
    margin: 30px;
}

.content p {
    font-size: 20px;
    margin-top: auto;
    margin-bottom: auto;
}

.btn {
    width: 150px;
    border-radius: 100px;
    background-color: rgb(19, 120, 236);
    color: ivory;
}

.btn:hover {
    transform: rotate(39deg);
    background-color: rgb(99, 93, 93);
}


/* .style img akun kosong */

.content-img {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.content-img {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
}

.content-text .content-child {
    color: #000;
    text-align: center;
    font-family: Sansation;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.content-text .content-child-1 {
    color: #5A5A5A;
    text-align: center;
    font-family: Sansation;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}